@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  ::-webkit-scrollbar {
    display: none;
  }
}

.contact-btn {
  transition: background-color 0.2s ease, color 0.2s ease;
}
.contact-btn:hover {
  color: white;
}
.whatsapp-btn:hover {
  background-color: #25d366;
}
.instagram-btn:hover {
  background-color: #e1306c;
}
